extends layout
block content
    .container-fluid
        include indextop.jade
        p#tip #{tip}
        .row.my-row
            .col-lg-2.col-md-2.col-sm-2
            .col-lg-8.col-md-8.col-sm-8.col-xs-12.main-body
                form(method='post' action='/orders')
                    div(class='panel panel-info')
                        .panel-heading 订单
                        table.table.table-hover.table-bordered
                            .thead
                                tr
                                    td.col-sm-2 图片
                                    td.col-sm-2 商品信息
                                    td.col-sm-2 单价
                                    td.col-sm-2 库存
                                    td.col-sm-2 数量
                                    td.col-sm-2 总价
                            .tbody
                                each item in productsList
                                    tr
                                        td.col-sm-2
                                            img.img-responsive.order_img(src=item.imgUrl[0])
                                        td.col-sm-2
                                            a(href='/products/' + item.productId) #{item.productName}
                                        td.col-sm-2
                                            p #{item.productPrice}
                                        td.col-sm-2
                                            p #{item.productNumber}
                                        td.col-sm-2.order-item-number
                                            input(type='number' min=1 max=item.number value=1 name='buyNumber')
                                            input(type='hidden' name='cardId',value=item.cardId)
                                            input(type='hidden' name='productId',value=item.productId)
                                        td.col-sm-2.order-item-price
                                            p ￥#{item.productPrice}
                    .shopping-cards-submit
                        span.submit-span 总价格为
                            span.order-alll-money ￥0
                        input(type='submit' class='btn btn-primary' value='提交订单')
            .col-lg-2.col-md-2.col-sm-2
block append script
    script(src='/javascripts/orderItem.js')
